<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Mr. Skeltal API</title>
    </meta>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
  </head>
  <body>
    <table class="header">
      <tbody>
        <tr>
          <td class="left" width="50px"><a href="/">home</a>
          </td>
          <td class="left"><a href="/thank">thank</a>
          </td>
          <td class="right">
            <a href="mailto:{{email}}">Email {{name}}</a>
          </td>
        </tr>
      </tbody>
    </table>
    <center>
      {{{body}}}
      <img src="skleton.jpg" alt="doot doot" title="doot doot" width="500px"></img>
    </center>
  </body>
</html>
