html * {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: Cyan;
}

.left {
  text-align: left;
  margin-left: 1em;
}

.right {
  text-align: right;
  margin-right: 1em;
}

.header {
  width: 100%
}

.hay {
  background-color: Khaki;
  color: Fuchsia;
}

.center {
    margin: auto;
    width: 60%;
    border:3px solid #8AC007;
    padding: 10px;
}
